body {
  background-color: #f7e8a6;
}
h1 {
  text-align: center;
}
.navigation-links {
  display: block;
  text-align: center;
}
.navigation-links a {
  margin: 0 10px;
  color: green;
}
img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
